<% title "Privacy Policy", false %>

<h2 class="page_title">Privacy Policy.</h2>

<h4>This service takes no responsibility for the privacy of your images.</h4>
<p>
	This is a free service to be used at your own risk. We take no responsibility for the 
	privacy, protection, or security of your images.
</p>

<h4>Your images will not be intentionally shared.</h4>
<p>
	Your images are not publicly accessible. They will not be knowingly shared or distributed 
	except if ordered to do so by subpoena.
</p>

<h4>Your images are deleted nightly.</h4>
<p>
	All images created more than 12 hours ago are automatically deleted nightly. This service 
	is not responsible for maintaining backups or providing web hosting for your images.
</p>

<h4>Your images will not be used for purposes commercial, private, or otherwise.</h4>
<p>
	This is a free service. We do not distribute, share, sell or profit from your 
	images.
</p>

<div class="clear_n_pad"></div>